data/configurator.json
{
  "nodes": [
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -5152,
        -1040
      ],
      "id": "be9781e2-ae25-4c65-aef0-4489dc8fea05",
      "name": "Collection Form",
      "webhookId": "895adc30-15c3-4496-864e-d765bd95cee1"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -4704,
        -1040
      ],
      "id": "232c3fd2-c3e4-43cf-a39d-daf50b0145d9",
      "name": "Installation Type Form",
      "webhookId": "895adc30-15c3-4496-864e-d765bd95cee1"
    },
    {
      "parameters": {
        "jsCode": "let collections = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  collections.push(product.json.Collection)\n})\n\ncollections = [...new Set(collections)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Collection\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": collections.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5360,
        -1040
      ],
      "id": "f189ce50-c4a3-410d-8398-cbffcc9084fb",
      "name": "Collection List"
    },
    {
      "parameters": {
        "jsCode": "let installationTypes = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (product.json.Collection === $(\"Collection Form\").first().json.Collection) {\n    installationTypes.push(product.json.Installation_Type)\n  }\n})\n\ninstallationTypes = [...new Set(installationTypes)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Installation Type\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": installationTypes.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4928,
        -1040
      ],
      "id": "443ad208-9e54-4be8-bc3d-02729b55de8e",
      "name": "Installation Type List"
    },
    {
      "parameters": {
        "jsCode": "let models = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"]\n  ) {\n    models.push(product.json.Model)\n  }\n})\n\nmodels = [...new Set(models)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Model\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": models.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4480,
        -1040
      ],
      "id": "35aacbdf-675d-4130-9afb-5902019a53b6",
      "name": "Model List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -4256,
        -1040
      ],
      "id": "2e02e6e3-37f3-40da-b633-3715044c1a77",
      "name": "Model Form",
      "webhookId": "895adc30-15c3-4496-864e-d765bd95cee1"
    },
    {
      "parameters": {
        "jsCode": "let dimensions = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model\n  ) {\n    dimensions.push(String(product.json.LW))\n  }\n})\n\ndimensions = [...new Set(dimensions)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Dimension\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": dimensions.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4032,
        -1040
      ],
      "id": "09097f15-1e70-4459-97f4-d5dd6670597e",
      "name": "Size List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3808,
        -1040
      ],
      "id": "c75ef0a9-c4ce-435c-aec7-0dfa5f634cd2",
      "name": "Dimension Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "let deckFeatures = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension\n  ) {\n    deckFeatures.push(product.json.Deck_Feature)\n  }\n})\n\ndeckFeatures = [...new Set(deckFeatures)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Deck Feature\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": deckFeatures.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        -1040
      ],
      "id": "92f80676-15ed-43d7-9ccc-39943d33dfb8",
      "name": "Deck Feature List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3360,
        -1040
      ],
      "id": "f0a4c1c9-59df-437c-b678-c8ed1af3dfc7",
      "name": "Deck Feature Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "let handings = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"]\n  ) {\n    handings.push(product.json.Handing)\n  }\n})\n\nhandings = [...new Set(handings)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Handing\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": handings.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        -1040
      ],
      "id": "9f472d1d-42e0-4141-964a-1f267a14b227",
      "name": "Handing List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2912,
        -1040
      ],
      "id": "b51501fa-7c4d-4236-9a0d-8f4bcdbbabc9",
      "name": "Handing Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "let colors = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing\n  ) {\n    colors.push(product.json.Color)\n  }\n})\n\ncolors = [...new Set(colors)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Color\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": colors.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        -1040
      ],
      "id": "38a2fabf-7559-4653-bee2-5c3b4766bd89",
      "name": "Color List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2464,
        -1040
      ],
      "id": "603de99b-21f1-46a3-92db-2513a99678e3",
      "name": "Color Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "let options = []\nlet prices = {}\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing &&\n    product.json.Color === $(\"Color Form\").first().json.Color\n  ) {\n    options.push(product.json.Surface_Finish)\n    console.log(product.json.Surface_Finish)\n    prices[product.json.Surface_Finish] = product.json.Surface_Finish_Price\n  }\n})\n\nconsole.log(prices)\noptions = [...new Set(options)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Surface Finish\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option}, +$${prices[option]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        -1040
      ],
      "id": "bdd47cb3-7fe1-4c0d-9160-d531f256886b",
      "name": "Finish List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2016,
        -1040
      ],
      "id": "b3f2904b-3505-449e-b7b6-f57a05ce1b74",
      "name": "Surface Finish Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "const { fetch } = require('undici')\n\nfunction uniqueKey() {\n  const now = new Date()\n  const date = now.toISOString().slice(0, 10)\n  const ms = now % 86400000\n  const rand = String(Math.floor(Math.random() * 1000)).padStart(3, '0')\n  return `${date}_${ms}_${rand}`\n}\nconst key = uniqueKey()\n\nlet configuration\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing &&\n    product.json.Color === $(\"Color Form\").first().json.Color &&\n    product.json.Surface_Finish === $(\"Surface Finish Form\").first().json[\"Surface Finish\"].split(',')[0] &&\n    product.json.Line === $(\"Line Form\").first().json[\"Line\"]\n  ) {\n    configuration = { base: product.json, co_num: $(\"Customer Order Form\").first().json['Customer Order'], options: [] }\n  }\n})\n\nawait fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n\nreturn { configuration, key }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -1040
      ],
      "id": "cc058eeb-9dc0-4d49-a98e-c01e82f15ae8",
      "name": "product"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('HBR').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        672,
        -1232
      ],
      "id": "da62155f-dcdc-4717-bbb0-25edc1c9ff91",
      "name": "TMU Second HBR Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = $('HBR').first().json.secondHeatingZone\nif ($(\"TMU Second HBR Form\").first().json[\"Second Heated Backrest\"] === '') {\n  options = []\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -1232
      ],
      "id": "fb4af5c1-a07c-4f7a-bf18-fb450ed6ef82",
      "name": "Second HBR"
    },
    {
      "parameters": {
        "jsCode": "let secondHeatingZone = []\nlet options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BAMMOD00T-02 2nd not available\t\t\t\t\t\t\t\t\t\t\t\n// BAMSRB00T-02 2nd included\n// BSCMOF00T-01 2nd + price\n// Product_SKU = \"BSCMOF00T-01\"\n$(\"Options Sheet Collection\").all().forEach((option) => {\n  if (\n    option.json[\"PRODUCT SKU\"] === Product_SKU &&\n    option.json[\"FEATURE\"] == \"WTS\"\n  ) {\n    if (option.json[\"Option Price\"] > 0) {\n      secondHeatingZone.push(option.json)\n    } else {\n      options.push(option.json)\n    }\n  }\n})\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nconst dropdown = {\n  \"fieldLabel\": \"Second Heated Backrest\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": secondHeatingZone.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options, secondHeatingZone }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -1168
      ],
      "id": "ce46fae2-acba-4d76-aa21-498f863f10ff",
      "name": "HBR",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "let firstHeatingZone = []\nlet secondHeatingZone = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BAMBRA0LN-01 2nd not available\n// BAMVOFN0N-01 1st & 2nd + price\n// Product_SKU = \"BAMBRA0LN-01\"\n$(\"Options Sheet Collection\").all().forEach((option) => {\n  if (\n    option.json[\"PRODUCT SKU\"] === Product_SKU &&\n    option.json[\"FEATURE\"] == \"WTS\"\n  ) {\n    if (option.json[\"PRODUCT_OPTION_NAME\"] === '2ND WARMTOUCHSHELL') {\n      secondHeatingZone.push(option.json)\n    }\n    else {\n      firstHeatingZone.push(option.json)\n    }\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Warm TouchShell (WTS)\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": firstHeatingZone.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nconst secondWTSdropdown = {\n  \"fieldLabel\": \"Second Warm TouchShell (WTS)\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": secondHeatingZone.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { firstHeatingZone, form: [ dropdown ], secondHeatingZone, , secondWTSform: [ secondWTSdropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -928
      ],
      "id": "cd42a920-4fbe-4368-8049-6d8abce7d18c",
      "name": "WTS",
      "executeOnce": false
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('WTS').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -224,
        -928
      ],
      "id": "74729e7d-6528-451b-8db1-b5f2d6b65b09",
      "name": "Tub First WTS Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = $('WTS').first().json.firstHeatingZone\nif ($(\"Tub First WTS Form\").first().json[\"Second Heated Backrest\"] === '') {\n  options = []\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -928
      ],
      "id": "010dacf8-b1c7-495b-b8e8-3c6d53cec54c",
      "name": "First WTS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $('HBR').first().json.secondHeatingZone }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -1168
      ],
      "id": "9da6a211-4eb1-4727-9809-226518cb374a",
      "name": "If Second HBR"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('WTS').first().json.secondWTSform) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        672,
        -848
      ],
      "id": "03832352-5955-4baf-9e91-661d4e1d2959",
      "name": "Tub Second WTS Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = $('WTS').first().json.secondHeatingZone\nif ($(\"Tub Second WTS Form\").first().json[\"Second Heated Backrest\"] === '') {\n  options = []\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -848
      ],
      "id": "16e93bbe-531a-4dec-a131-4fe146f672ce",
      "name": "Second WTS"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BAMMOD00T-02 No aromatherapy available\t\t\n// BOOBRI00N-01 Both aromatherapy available\n// BSCMOF00T-01 Only Aroma Cloud available\n// BSCMOF00T-01 Only Aromaflow available\n// Product_SKU = \"BOOBRI00N-01\"\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"AROMATHERAPY\"\n  ) {\n      options.push(item.json)\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Aromatherapy\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -1040
      ],
      "id": "ec684a82-68d4-48f3-82e4-7cc936a68a2a",
      "name": "Aroma"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        -1040
      ],
      "id": "187ff6f4-8aad-4d60-9d87-3953c05eb7a9",
      "name": "If Aroma"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Aroma').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1792,
        -1120
      ],
      "id": "0d54c9bc-8a79-4847-bcb7-a66a5db5cad5",
      "name": "Aroma Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Aroma').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Aroma Form\").first().json[\"Aromatherapy\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -1120
      ],
      "id": "c0e13ff9-1654-4dd2-b351-b462c30f18a4",
      "name": "Aroma Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BOS2RF00F-01 No chromatherapy available\n// BOOBRI00N-01 Chromatherapy available\n// Product_SKU = \"BOOBRI00N-01\"\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"CHROMATHERAPY\"\n  ) {\n      options.push(item.json)\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Chromatherapy\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -1040
      ],
      "id": "3d58e620-f498-4c62-8740-4ae5d4c8476b",
      "name": "Chromo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        -1040
      ],
      "id": "020039ae-03d3-4bc7-82a8-da188dff32b0",
      "name": "If Chromo"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Chromo').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2912,
        -1120
      ],
      "id": "2ae3e969-485a-457d-9c22-593be82fe82b",
      "name": "Chromo Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Chromo').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Chromo Form\").first().json[\"Chromatherapy\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -1120
      ],
      "id": "8e75ff96-ad7b-485f-a4e2-9da24d1f0352",
      "name": "Chromo Selection"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TMU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ff69289-d325-4293-8cbe-91ca04300086"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TMU"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beab3113-a1e5-4a54-90e6-9e7832d7dc39",
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TUB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TUB"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -672,
        -1040
      ],
      "id": "1c9a49f7-74fc-4788-8fad-b4a0091be21d",
      "name": "Line Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TMU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ff69289-d325-4293-8cbe-91ca04300086"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TMU"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beab3113-a1e5-4a54-90e6-9e7832d7dc39",
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TUB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TUB"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3584,
        -1120
      ],
      "id": "08421023-baab-42b2-b3b2-47edfc7ea15d",
      "name": "Control Switch"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"MIA CONTROL\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"MIA Control\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        -1184
      ],
      "id": "8a175712-ffae-40bf-99c1-ceab8eb30196",
      "name": "MIA Control"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('MIA Control').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        4032,
        -1184
      ],
      "id": "eb6aa6a3-7338-4f4d-bbf5-4100c78f9b32",
      "name": "MIA Control Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('MIA Control').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"MIA Control Form\").first().json[\"MIA Control\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        -1184
      ],
      "id": "8ad08494-231f-47c6-b880-27707a31e9c9",
      "name": "MIA Control Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"VIRTUAL CONTROL APP\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"BU-Touch Control\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4704,
        -1184
      ],
      "id": "c4e58f83-2271-4028-9062-6a3759175eba",
      "name": "BU-Touch Control"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('BU-Touch Control').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        4928,
        -1184
      ],
      "id": "3c19e0c5-43b7-41ae-9301-693a238ab23f",
      "name": "BU-Touch Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('BU-Touch Control').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"BU-Touch Form\").first().json[\"BU-Touch Control\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        -1184
      ],
      "id": "08e501d2-24b1-4e4b-8b06-30b044bab0eb",
      "name": "BU-Touch Control Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"GRAB_BAR\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Grab Bars\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6048,
        -976
      ],
      "id": "98a1135d-8805-40c5-b397-7e29c920a4f8",
      "name": "Grab Bars"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6272,
        -976
      ],
      "id": "561028db-88b8-4a39-8ce7-b593b0b1ec7d",
      "name": "If Grab Bars"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Grab Bars').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Grab Bars Form\").first().json[\"Grab Bars\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        -896
      ],
      "id": "a4fbff4d-2c93-4c81-821e-980e6a47ae3f",
      "name": "Grab Bars Selection"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Grab Bars').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        6496,
        -896
      ],
      "id": "6d0cc2d0-fcbc-4bc1-bd2a-f9dec76fa2aa",
      "name": "Grab Bars Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"TILE FLANGE\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Tile Flange\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7168,
        -1040
      ],
      "id": "0815edca-a239-4131-a30c-7a35a062f320",
      "name": "Tile Flange"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7392,
        -1040
      ],
      "id": "922ea98e-a79a-4237-b2cc-096bf07ad52b",
      "name": "If Tile Flange"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Tile Flange').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        7616,
        -1120
      ],
      "id": "d4126ada-2d8c-4c91-acf9-792bed0f522e",
      "name": "Tile Flange Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Tile Flange').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Tile Flange Form\").first().json[\"Tile Flange\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7840,
        -1120
      ],
      "id": "66708bd1-1f31-4ac3-9131-226907532e7c",
      "name": "Tile Flange Selection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $('WTS').first().json.secondHeatingZone }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "00450b5d-bc5f-45ac-9cc1-c80aefcecfd2",
              "leftValue": "={{ console.log(222) && 11 }}",
              "rightValue": "dude",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -928
      ],
      "id": "9543ea9f-9f20-4813-83a7-59e7aea97a74",
      "name": "If Second WTS",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"SKIRT\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Skirt\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8288,
        -1040
      ],
      "id": "7fda7453-5041-4aca-a8a4-25b34535af55",
      "name": "Skirt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8512,
        -1040
      ],
      "id": "fbfadfcc-e3c7-48f1-bf51-8531afc36285",
      "name": "If Skirt"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Skirt').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        8736,
        -1120
      ],
      "id": "1d687f70-8a1c-47fb-8d2f-a08697531de7",
      "name": "Skirt Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Skirt').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Skirt Form\").first().json[\"Skirt\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8960,
        -1120
      ],
      "id": "c80c167e-cf30-4673-a174-598c84d05613",
      "name": "Skirt Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"FEET\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Feet\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9408,
        -1040
      ],
      "id": "f0cefca0-3585-4039-bc64-7a2d89c51532",
      "name": "Feet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0ec18898-82e9-4772-9093-d4abd717b7ac",
              "leftValue": "={{ $('Combo Feet & Armrest').first().json.options.length > 0 && $('Combo Feet & Armrest Selection').first().json.options.length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9632,
        -1040
      ],
      "id": "1d39aec6-9650-45fe-b900-6d41d038be57",
      "name": "If Feet"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Feet').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        9856,
        -1120
      ],
      "id": "bc9daa5b-3d4e-4f18-8fb4-204ff919f455",
      "name": "Feet Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Feet').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Feet Form\").first().json[\"Feet\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10080,
        -1120
      ],
      "id": "c9e9de1d-e704-4617-8db0-3a04f94d2db8",
      "name": "Feet Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Deck').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Deck Form\").first().json[\"Deck\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11200,
        -1120
      ],
      "id": "55679468-b8a9-447c-884f-c41b657ad320",
      "name": "Deck Selection"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Deck').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        10976,
        -1120
      ],
      "id": "ff14140f-176e-4898-ad85-87ec49537fea",
      "name": "Deck Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10752,
        -1040
      ],
      "id": "e1a3ac63-adb9-44ae-a68a-ba5435e76ccb",
      "name": "If Deck"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"DECK\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Deck\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10528,
        -1040
      ],
      "id": "96ad1a5d-6f4a-48b7-acfe-f3da4c76133d",
      "name": "Deck"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"CUSHION\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Cushion\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11648,
        -1040
      ],
      "id": "e00a1ebf-3a7e-42fe-b699-e222873ea7b2",
      "name": "Cushion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11872,
        -1040
      ],
      "id": "160fbfb9-4335-431b-af91-b1ff962a06bb",
      "name": "If Cushion"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Cushion').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        12096,
        -1120
      ],
      "id": "e821c6dc-5458-4078-b381-87c8bc2ac689",
      "name": "Cushion Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Cushion').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Cushion Form\").first().json[\"Cushion\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12320,
        -1120
      ],
      "id": "c6447e33-9ffe-41cb-add0-1edc23c4c45c",
      "name": "Cushion Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"ISLAND TUB DRAIN\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Island Tub Drain\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12768,
        -1040
      ],
      "id": "ed653f56-2216-4e97-ae4a-61973cff6e34",
      "name": "Island Tub Drain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12992,
        -1040
      ],
      "id": "80d24c65-9684-458f-8642-7316524b56e8",
      "name": "If Island Tub Drain"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Island Tub Drain').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        13216,
        -1120
      ],
      "id": "320c8c4c-461d-4488-91a7-6df7269bf959",
      "name": "Island Tub Drain Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Island Tub Drain').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Island Tub Drain Form\").first().json[\"Cushion\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13440,
        -1120
      ],
      "id": "9d6c0bca-3081-4dd6-b16d-ce6e5830d8aa",
      "name": "Island Tub Drain Selection"
    },
    {
      "parameters": {
        "jsCode": "const configuration = JSON.parse($input.first().json.options)\n\nconst options = configuration.options.filter((option) => {\n  return option?.TYPE === ''\n})\n\nconst instructions = configuration.options.filter((option) => {\n  return option?.TYPE === 'INSTRUCTION'\n})\n\nlet price = configuration.base.List_Price+configuration.base.Surface_Finish_Price\n\nfunction generateOptionsHTML(options) {\n  return options.map(option => {\n    price = price + option['Option Price']\n    return `  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>${option.PRODUCT_OPTION_NAME}</div>\n    <div>$${option['Option Price']}</div>\n  </div>`;\n  }).join('\\n');\n}\n\nconst html = `\n<div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 1em;\">\n    <div><strong>Configuration</strong></div>\n    <div>$${configuration.base.List_Price+configuration.base.Surface_Finish_Price}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between\">\n    <div>Model: ${configuration.base.Product_Name} (${configuration.base.Product_SKU})</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Color: ${configuration.base.Color}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Deck: ${configuration.base.Deck_Feature}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Handing: ${configuration.base.Handing}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Installation Type: ${configuration.base.Installation_Type}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Line: ${configuration.base.Line}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Surface Finish: ${configuration.base.Surface_Finish}</div>\n    <div>$${configuration.base.Surface_Finish_Price}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-top: 2em; margin-bottom: 1em;\">\n    <div><strong>Options</strong></div>\n  </div>\n${generateOptionsHTML(options)}\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-top: 2em; margin-bottom: 1em;\">\n    <div><strong>Instructions</strong></div>\n  </div>\n${generateOptionsHTML(instructions)}\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-top: 2em; margin-bottom: 1em;\">\n    <div><strong>Product Price</strong></div>\n    <div><strong>$${price}</strong></div>\n  </div>\n</div>`\n\nreturn { html }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16800,
        -1120
      ],
      "id": "4a55fee8-c2a1-4f98-9bd2-b5b466d48f1c",
      "name": "Price"
    },
    {
      "parameters": {
        "options": {
          "formDescription": "={{ $input.first().json.html }}",
          "buttonLabel": "Submit C"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        17088,
        -1120
      ],
      "id": "08ed7509-982c-47ec-ac65-6ad4ee90000f",
      "name": "Price Form",
      "webhookId": "6bfe5117-80eb-4982-a34b-ab08cdafcf9c"
    },
    {
      "parameters": {
        "jsCode": "// Models: Scala\nlet options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"ARMRESTS\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Combo Feet & Armrest\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        -1040
      ],
      "id": "e23633e1-45c5-4ac6-a8e8-c31aa14d2a02",
      "name": "Combo Feet & Armrest"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5824,
        -1040
      ],
      "id": "8aa621b3-1e58-4a52-9807-84cc5386e2ba",
      "name": "If Combo Feet & Armrest"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Combo Feet & Armrest').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        6496,
        -1184
      ],
      "id": "4914c3d8-c868-4364-a135-f9200d3b52a9",
      "name": "Combo Feet & Armrest Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Combo Feet & Armrest').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Combo Feet & Armrest Form\").first().json[\"Combo Feet & Armrest\"]) {\n    options.push(item)\n  }\n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        -1184
      ],
      "id": "d903f995-094f-46fe-94a4-9ea47b1f73ad",
      "name": "Combo Feet & Armrest Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = ['Brass', 'PVC', 'None']\n\nconst dropdown = {\n  \"fieldLabel\": \"Drain And Overflow\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13888,
        -1040
      ],
      "id": "b21bc9d2-3354-46ff-a9f8-c0e91ac42e10",
      "name": "Drain And Overflow Material"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Drain And Overflow Material').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        14112,
        -1040
      ],
      "id": "065e7f80-e41d-4396-a482-f295d69dd6d4",
      "name": "Drain And Overflow Material Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$input.all().forEach((item) => {\n  if (\n    item.json[\"Product_SKU\"] === Product_SKU\n  ) {\n      options.push(item.json)\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Drain And Overflow\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14784,
        -1184
      ],
      "id": "312612b7-b20a-4570-b2d5-52871a7b5f9f",
      "name": "Drain And Overflow"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Drain And Overflow').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        15008,
        -1184
      ],
      "id": "2f10def0-fb1c-468e-a440-bde9015d148b",
      "name": "Drain And Overflow Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nif ($('Drain And Overflow Material Form').first().json['Drain And Overflow']) {\n  options .push(    \n    {\n      \"OPTION SKU\": \"BOVER00-00\",\n      \"PRODUCT_OPTION_NAME\": \"NO DRAIN\",\n      \"Option Price\": 0,\n    })\n} else {\n  for (const item of $('Drain And Overflow').first().json.options) {\n    if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Drain And Overflow Form\").first().json[\"Drain And Overflow\"]) {\n      options.push(item)\n    }\n  }  \n}\n\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  var configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15232,
        -1120
      ],
      "id": "73bdff02-bdd6-4992-a1ae-6eb9b29944ab",
      "name": "Drain And Overflow Selection"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Drain And Overflow Material Form').first().json['Drain And Overflow'] }}",
                    "rightValue": "Brass",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "05ba5067-cb14-4844-ada6-9745e2765e55"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Brass"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b403747f-8c9a-4dea-b1eb-348e543b5090",
                    "leftValue": "={{ $('Drain And Overflow Material Form').first().json['Drain And Overflow'] }}",
                    "rightValue": "PVC",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PVC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a2e0c5c-ce0f-4710-9886-6a3a3a096fe6",
                    "leftValue": "={{ $('Drain And Overflow Material Form').first().json['Drain And Overflow'] }}",
                    "rightValue": "None",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "None"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        14336,
        -1056
      ],
      "id": "d4459023-9633-48ba-acae-2e4dda4eef4c",
      "name": "Drain And Overflow Material Form Switch"
    },
    {
      "parameters": {
        "jsCode": "let options = [\n  { \"PRODUCT_OPTION_NAME\": \"EARLY MOTOR SHIPMENT\", \"Option Price\": 0, \"TYPE\": \"INSTRUCTION\", \"OPTION SKU\": \"EAMOEAD9E1\", },\n  { \"PRODUCT_OPTION_NAME\": \"NONE\", \"Option Price\": 0, \"TYPE\": \"INSTRUCTION\", \"OPTION SKU\": \"EAMONOD9E1\", },\n]\n\nconst dropdown = {\n  \"fieldLabel\": \"Early Motor Shipment\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15680,
        -1120
      ],
      "id": "c714b1e5-be3c-4d47-b3fc-d0f585657bad",
      "name": "Early Motor Shipment"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Early Motor Shipment').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        15904,
        -1120
      ],
      "id": "b39e7bce-c9ca-4381-b22e-050da2b4ed72",
      "name": "Early Motor Shipment Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Early Motor Shipment').first().json.options) {\n  if (\n    `${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Early Motor Shipment Form\").first().json[\"Early Motor Shipment\"] &&\n    $(\"Early Motor Shipment Form\").first().json[\"Early Motor Shipment\"] === `EARLY MOTOR SHIPMENT, +$${item[\"Option Price\"]}`\n     ) {\n    options.push(item)\n  }\n}\n\nvar configuration\nconst { fetch } = require('undici')\nasync function addOptions() {\n  var key = $('product').first().json.key\n  var response = await fetch(`http://localhost:7379/get/${key}`)\n  response = await response.json()\n  configuration = JSON.parse(response.get)\n  \n  await fetch(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`);\n}\nawait addOptions()\n\n// https://edge.bainultra.dev/api/v1/order-line-8e6e1d01\n\nreturn { configuration, options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16336,
        -1120
      ],
      "id": "318f9cbe-cdc7-48fc-984a-277d3f92b321",
      "name": "Early Motor Shipment Selection"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -1040
      ],
      "id": "e1309459-2467-4ba3-9d1b-039cd71ab51d",
      "name": "Line Form",
      "webhookId": "6ecb2fe7-e6a4-46dc-8846-d39de88f8d6b"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing &&\n    product.json.Color === $(\"Color Form\").first().json.Color &&\n    product.json.Surface_Finish === $(\"Surface Finish Form\").first().json[\"Surface Finish\"].split(',')[0]\n  ) {\n    options.push(product.json.Line)\n  }\n})\n\noptions = [...new Set(options)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Line\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        -1040
      ],
      "id": "e6699e42-c3fb-4cd5-870c-52ca8675f256",
      "name": "Line"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw",
          "mode": "list",
          "cachedResultName": "bainultra",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1015220340,
          "mode": "list",
          "cachedResultName": "DAO_PVC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit#gid=1015220340"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        14560,
        -1184
      ],
      "id": "b4f2bb70-9de7-4348-aeec-6d099b3d3ae4",
      "name": "Drain And Overflow Brass Sheet Collection",
      "credentials": {
        "googleApi": {
          "id": "We2EMnzF5mMB8Qs4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw",
          "mode": "list",
          "cachedResultName": "bainultra",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1015220340,
          "mode": "list",
          "cachedResultName": "DAO_PVC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit#gid=1015220340"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        14560,
        -896
      ],
      "id": "c607492d-548c-4c68-a077-adacecdd4173",
      "name": "Drain And Overflow PVC Sheet Collection",
      "credentials": {
        "googleApi": {
          "id": "We2EMnzF5mMB8Qs4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Customer Order Line Created",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        17536,
        -1120
      ],
      "id": "5291de58-bb4b-4343-8a90-4841a1a5683d",
      "name": "Form",
      "webhookId": "aa4a9f46-cf16-42ca-9223-db07b827d996"
    },
    {
      "parameters": {
        "formTitle": "BainUltra Configurator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Order"
            }
          ]
        },
        "options": {
          "buttonLabel": "New Configuration"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -5808,
        -1040
      ],
      "id": "11ff31be-5f71-416f-a276-f623380f6c9c",
      "name": "Customer Order Form",
      "webhookId": "2b3df582-959f-416d-b98c-2fed161a980e"
    },
    {
      "parameters": {
        "jsCode": "const { fetch } = require('undici')\n\nvar response = await fetch('http://localhost:7379/get/products')\nresponse = await response.json()\nconst products = JSON.parse(response.get)\n\nreturn products"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5584,
        -1040
      ],
      "id": "a9c2bfb3-712e-4514-a674-5ae403ed79d7",
      "name": "Products Sheet Collection"
    },
    {
      "parameters": {
        "jsCode": "const { fetch } = require('undici')\n\nvar response = await fetch('http://localhost:7379/get/options')\nresponse = await response.json()\nvar options = JSON.parse(response.get)\n\noptions = options.filter((option) => {\n  return option[\"PRODUCT SKU\"] === $('product').first().json.configuration.base.Product_SKU\n})\n\nreturn options"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -1040
      ],
      "id": "0d4c2ce9-800c-4a73-949b-01a3b6e6551a",
      "name": "Options Sheet Collection"
    }
  ],
  "connections": {
    "Collection Form": {
      "main": [
        [
          {
            "node": "Installation Type List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Installation Type Form": {
      "main": [
        [
          {
            "node": "Model List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collection List": {
      "main": [
        [
          {
            "node": "Collection Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Installation Type List": {
      "main": [
        [
          {
            "node": "Installation Type Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model List": {
      "main": [
        [
          {
            "node": "Model Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Form": {
      "main": [
        [
          {
            "node": "Size List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size List": {
      "main": [
        [
          {
            "node": "Dimension Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dimension Form": {
      "main": [
        [
          {
            "node": "Deck Feature List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Feature List": {
      "main": [
        [
          {
            "node": "Deck Feature Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Feature Form": {
      "main": [
        [
          {
            "node": "Handing List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handing List": {
      "main": [
        [
          {
            "node": "Handing Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handing Form": {
      "main": [
        [
          {
            "node": "Color List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Color List": {
      "main": [
        [
          {
            "node": "Color Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Color Form": {
      "main": [
        [
          {
            "node": "Finish List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finish List": {
      "main": [
        [
          {
            "node": "Surface Finish Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Surface Finish Form": {
      "main": [
        [
          {
            "node": "Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product": {
      "main": [
        [
          {
            "node": "Options Sheet Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TMU Second HBR Form": {
      "main": [
        [
          {
            "node": "Second HBR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second HBR": {
      "main": [
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HBR": {
      "main": [
        [
          {
            "node": "If Second HBR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WTS": {
      "main": [
        [
          {
            "node": "Tub First WTS Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tub First WTS Form": {
      "main": [
        [
          {
            "node": "First WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First WTS": {
      "main": [
        [
          {
            "node": "If Second WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Second HBR": {
      "main": [
        [
          {
            "node": "TMU Second HBR Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tub Second WTS Form": {
      "main": [
        [
          {
            "node": "Second WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second WTS": {
      "main": [
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aroma": {
      "main": [
        [
          {
            "node": "If Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Aroma": {
      "main": [
        [
          {
            "node": "Aroma Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chromo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aroma Form": {
      "main": [
        [
          {
            "node": "Aroma Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aroma Selection": {
      "main": [
        [
          {
            "node": "Chromo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chromo": {
      "main": [
        [
          {
            "node": "If Chromo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Chromo": {
      "main": [
        [
          {
            "node": "Chromo Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chromo Form": {
      "main": [
        [
          {
            "node": "Chromo Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chromo Selection": {
      "main": [
        [
          {
            "node": "Control Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Switch": {
      "main": [
        [
          {
            "node": "HBR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Switch": {
      "main": [
        [
          {
            "node": "MIA Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIA Control": {
      "main": [
        [
          {
            "node": "MIA Control Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIA Control Form": {
      "main": [
        [
          {
            "node": "MIA Control Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIA Control Selection": {
      "main": [
        [
          {
            "node": "BU-Touch Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BU-Touch Control": {
      "main": [
        [
          {
            "node": "BU-Touch Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BU-Touch Form": {
      "main": [
        [
          {
            "node": "BU-Touch Control Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BU-Touch Control Selection": {
      "main": [
        [
          {
            "node": "Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Bars": {
      "main": [
        [
          {
            "node": "If Grab Bars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Grab Bars": {
      "main": [
        [
          {
            "node": "Grab Bars Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Bars Selection": {
      "main": [
        [
          {
            "node": "Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Bars Form": {
      "main": [
        [
          {
            "node": "Grab Bars Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tile Flange": {
      "main": [
        [
          {
            "node": "If Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tile Flange": {
      "main": [
        [
          {
            "node": "Tile Flange Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skirt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tile Flange Form": {
      "main": [
        [
          {
            "node": "Tile Flange Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tile Flange Selection": {
      "main": [
        [
          {
            "node": "Skirt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Second WTS": {
      "main": [
        [
          {
            "node": "Tub Second WTS Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skirt": {
      "main": [
        [
          {
            "node": "If Skirt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Skirt": {
      "main": [
        [
          {
            "node": "Skirt Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skirt Form": {
      "main": [
        [
          {
            "node": "Skirt Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skirt Selection": {
      "main": [
        [
          {
            "node": "Feet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feet": {
      "main": [
        [
          {
            "node": "If Feet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Feet": {
      "main": [
        [
          {
            "node": "Feet Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feet Form": {
      "main": [
        [
          {
            "node": "Feet Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feet Selection": {
      "main": [
        [
          {
            "node": "Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Selection": {
      "main": [
        [
          {
            "node": "Cushion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Form": {
      "main": [
        [
          {
            "node": "Deck Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Deck": {
      "main": [
        [
          {
            "node": "Deck Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cushion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck": {
      "main": [
        [
          {
            "node": "If Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cushion": {
      "main": [
        [
          {
            "node": "If Cushion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cushion": {
      "main": [
        [
          {
            "node": "Cushion Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Island Tub Drain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cushion Form": {
      "main": [
        [
          {
            "node": "Cushion Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cushion Selection": {
      "main": [
        [
          {
            "node": "Island Tub Drain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Island Tub Drain": {
      "main": [
        [
          {
            "node": "If Island Tub Drain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Island Tub Drain": {
      "main": [
        [
          {
            "node": "Island Tub Drain Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drain And Overflow Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Island Tub Drain Form": {
      "main": [
        [
          {
            "node": "Island Tub Drain Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Island Tub Drain Selection": {
      "main": [
        [
          {
            "node": "Drain And Overflow Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price": {
      "main": [
        [
          {
            "node": "Price Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Form": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combo Feet & Armrest": {
      "main": [
        [
          {
            "node": "If Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Combo Feet & Armrest": {
      "main": [
        [
          {
            "node": "Combo Feet & Armrest Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab Bars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combo Feet & Armrest Form": {
      "main": [
        [
          {
            "node": "Combo Feet & Armrest Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combo Feet & Armrest Selection": {
      "main": [
        [
          {
            "node": "Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Material": {
      "main": [
        [
          {
            "node": "Drain And Overflow Material Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Material Form": {
      "main": [
        [
          {
            "node": "Drain And Overflow Material Form Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow": {
      "main": [
        [
          {
            "node": "Drain And Overflow Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Form": {
      "main": [
        [
          {
            "node": "Drain And Overflow Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Selection": {
      "main": [
        [
          {
            "node": "Early Motor Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Material Form Switch": {
      "main": [
        [
          {
            "node": "Drain And Overflow Brass Sheet Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drain And Overflow PVC Sheet Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drain And Overflow Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Motor Shipment": {
      "main": [
        [
          {
            "node": "Early Motor Shipment Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Motor Shipment Form": {
      "main": [
        [
          {
            "node": "Early Motor Shipment Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Motor Shipment Selection": {
      "main": [
        [
          {
            "node": "Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Form": {
      "main": [
        [
          {
            "node": "product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line": {
      "main": [
        [
          {
            "node": "Line Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Brass Sheet Collection": {
      "main": [
        [
          {
            "node": "Drain And Overflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow PVC Sheet Collection": {
      "main": [
        [
          {
            "node": "Drain And Overflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Order Form": {
      "main": [
        [
          {
            "node": "Products Sheet Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Products Sheet Collection": {
      "main": [
        [
          {
            "node": "Collection List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Options Sheet Collection": {
      "main": [
        [
          {
            "node": "Line Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf61a41482dd6099afc7b58566870ccc4a2f9ce8ddec60f7c393404a4df173a7"
  }
}
