data/configurator.json
{
  "nodes": [
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2432,
        -1344
      ],
      "id": "b94e99f6-c9fb-441a-a497-e54176a2fd64",
      "name": "Collection Form",
      "webhookId": "895adc30-15c3-4496-864e-d765bd95cee1"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1984,
        -1344
      ],
      "id": "711d830c-b94d-401c-899a-9b57c34c257c",
      "name": "Installation Type Form",
      "webhookId": "895adc30-15c3-4496-864e-d765bd95cee1"
    },
    {
      "parameters": {
        "jsCode": "let collections = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  collections.push(product.json.Collection)\n})\n\ncollections = [...new Set(collections)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Collection\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": collections.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        -1344
      ],
      "id": "9dd7500b-5126-4612-8052-506c5ac4606e",
      "name": "Collection List"
    },
    {
      "parameters": {
        "jsCode": "let installationTypes = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (product.json.Collection === $(\"Collection Form\").first().json.Collection) {\n    installationTypes.push(product.json.Installation_Type)\n  }\n})\n\ninstallationTypes = [...new Set(installationTypes)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Installation Type\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": installationTypes.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -1344
      ],
      "id": "3240e5bd-fd36-49c5-a5bf-88d2379dd1d4",
      "name": "Installation Type List"
    },
    {
      "parameters": {
        "jsCode": "let models = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"]\n  ) {\n    models.push(product.json.Model)\n  }\n})\n\nmodels = [...new Set(models)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Model\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": models.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        -1344
      ],
      "id": "335c4314-0012-4b6b-97bc-11770467d843",
      "name": "Model List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1536,
        -1344
      ],
      "id": "f4ab7c70-e326-4396-bd5c-503699112097",
      "name": "Model Form",
      "webhookId": "895adc30-15c3-4496-864e-d765bd95cee1"
    },
    {
      "parameters": {
        "jsCode": "let dimensions = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model\n  ) {\n    dimensions.push(String(product.json.LW))\n  }\n})\n\ndimensions = [...new Set(dimensions)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Dimension\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": dimensions.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -1344
      ],
      "id": "9dbf3ca4-d406-4b87-86fb-0e76692fb35f",
      "name": "Size List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1088,
        -1344
      ],
      "id": "b78e2d8a-d140-4b68-b6e8-bbc25f521c01",
      "name": "Dimension Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "let deckFeatures = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension\n  ) {\n    deckFeatures.push(product.json.Deck_Feature)\n  }\n})\n\ndeckFeatures = [...new Set(deckFeatures)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Deck Feature\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": deckFeatures.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -1344
      ],
      "id": "85424577-142c-42b1-938f-1637e5b3d72c",
      "name": "Deck Feature List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -640,
        -1344
      ],
      "id": "ecb9535e-80e1-4587-a1de-ea574f7948f1",
      "name": "Deck Feature Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "let handings = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"]\n  ) {\n    handings.push(product.json.Handing)\n  }\n})\n\nhandings = [...new Set(handings)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Handing\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": handings.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -1344
      ],
      "id": "8da5514f-1c57-4d97-9295-3fab24f8fa22",
      "name": "Handing List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -192,
        -1344
      ],
      "id": "9f4d7d53-9482-4651-aa5c-134fcab941f0",
      "name": "Handing Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "let colors = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing\n  ) {\n    colors.push(product.json.Color)\n  }\n})\n\ncolors = [...new Set(colors)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Color\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": colors.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -1344
      ],
      "id": "ecf11c55-b36d-4952-afe4-22315d896b8e",
      "name": "Color List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        256,
        -1344
      ],
      "id": "e746c10d-a8de-44e6-8eac-70f5da187e1e",
      "name": "Color Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "let options = []\nlet prices = {}\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing &&\n    product.json.Color === $(\"Color Form\").first().json.Color\n  ) {\n    options.push(product.json.Surface_Finish)\n    console.log(product.json.Surface_Finish)\n    prices[product.json.Surface_Finish] = product.json.Surface_Finish_Price\n  }\n})\n\nconsole.log(prices)\noptions = [...new Set(options)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Surface Finish\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option}, +$${prices[option]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -1344
      ],
      "id": "a1be06c1-0791-4025-8c8e-0a04a8726d48",
      "name": "Finish List"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        704,
        -1344
      ],
      "id": "c3a2fd6d-ca43-4cc7-8a28-eee096e12c32",
      "name": "Surface Finish Form",
      "webhookId": "015215ca-4fbf-4281-a291-3b7a5b83de09"
    },
    {
      "parameters": {
        "jsCode": "function uniqueKey() {\n  const now = new Date()\n  const date = now.toISOString().slice(0, 10)\n  const ms = now % 86400000\n  const rand = String(Math.floor(Math.random() * 1000)).padStart(3, '0')\n  return `${date}_${ms}_${rand}`\n}\nconst key = uniqueKey()\n\nlet configuration\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing &&\n    product.json.Color === $(\"Color Form\").first().json.Color &&\n    product.json.Surface_Finish === $(\"Surface Finish Form\").first().json[\"Surface Finish\"].split(',')[0] &&\n    product.json.Line === $(\"Line Form\").first().json[\"Line\"]\n  ) {\n    configuration = { base: product.json, co_num: $(\"Customer Order Form\").first().json['Customer Order'], options: [] }\n  }\n})\n\nconst axios = require('axios')\nawait axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n\nreturn { configuration, key }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -1344
      ],
      "id": "84115681-3fde-4ee1-b0c0-3b76fe0cadc6",
      "name": "product",
      "executeOnce": false
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('HBR').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        3600,
        -1536
      ],
      "id": "c9f7b3ad-69b4-49c4-a2dc-4ed7d0a91d82",
      "name": "TMU Second HBR Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = $('HBR').first().json.secondHeatingZone\nif ($(\"TMU Second HBR Form\").first().json[\"Second Heated Backrest\"] === '') {\n  options = []\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        -1536
      ],
      "id": "72123a33-28c2-4b4c-884e-a47d197f013d",
      "name": "Second HBR"
    },
    {
      "parameters": {
        "jsCode": "let secondHeatingZone = []\nlet options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BAMMOD00T-02 2nd not available\t\t\t\t\t\t\t\t\t\t\t\n// BAMSRB00T-02 2nd included\n// BSCMOF00T-01 2nd + price\n// Product_SKU = \"BSCMOF00T-01\"\n$(\"Options Sheet Collection\").all().forEach((option) => {\n  if (\n    option.json[\"PRODUCT SKU\"] === Product_SKU &&\n    option.json[\"FEATURE\"] == \"WTS\"\n  ) {\n    if (option.json[\"Option Price\"] > 0) {\n      secondHeatingZone.push(option.json)\n    } else {\n      options.push(option.json)\n    }\n  }\n})\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nconst dropdown = {\n  \"fieldLabel\": \"Second Heated Backrest\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": secondHeatingZone.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options, secondHeatingZone }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -1472
      ],
      "id": "1d1486c0-1ba8-4ac0-b644-9578999868ae",
      "name": "HBR",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "let firstHeatingZone = []\nlet secondHeatingZone = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BAMBRA0LN-01 2nd not available\n// BAMVOFN0N-01 1st & 2nd + price\n// Product_SKU = \"BAMBRA0LN-01\"\n$(\"Options Sheet Collection\").all().forEach((option) => {\n  if (\n    option.json[\"PRODUCT SKU\"] === Product_SKU &&\n    option.json[\"FEATURE\"] == \"WTS\"\n  ) {\n    if (option.json[\"PRODUCT_OPTION_NAME\"] === '2ND WARMTOUCHSHELL') {\n      secondHeatingZone.push(option.json)\n    }\n    else {\n      firstHeatingZone.push(option.json)\n    }\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Warm TouchShell (WTS)\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": firstHeatingZone.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nconst secondWTSdropdown = {\n  \"fieldLabel\": \"Second Warm TouchShell (WTS)\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": secondHeatingZone.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { firstHeatingZone, form: [ dropdown ], secondHeatingZone, , secondWTSform: [ secondWTSdropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -1232
      ],
      "id": "99bcaa27-fa18-48c3-9aff-0e2f37e95eb6",
      "name": "WTS",
      "executeOnce": false
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('WTS').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2704,
        -1232
      ],
      "id": "b2a1ce3b-4c5e-46c4-acf6-8778427fab08",
      "name": "Tub First WTS Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = $('WTS').first().json.firstHeatingZone\nif ($(\"Tub First WTS Form\").first().json[\"Second Heated Backrest\"] === '') {\n  options = []\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -1232
      ],
      "id": "ad793a62-d7e2-40e7-8e40-54bbfe91779f",
      "name": "First WTS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $('HBR').first().json.secondHeatingZone }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3376,
        -1472
      ],
      "id": "63937dc6-d52b-46fd-9375-d654fadd3c22",
      "name": "If Second HBR"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('WTS').first().json.secondWTSform) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        3600,
        -1152
      ],
      "id": "355a4dbf-f42e-4123-ab08-65accdc35f53",
      "name": "Tub Second WTS Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = $('WTS').first().json.secondHeatingZone\nif ($(\"Tub Second WTS Form\").first().json[\"Second Heated Backrest\"] === '') {\n  options = []\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        -1152
      ],
      "id": "54e378ad-f1bc-4da0-a74b-d9591681ce5c",
      "name": "Second WTS"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BAMMOD00T-02 No aromatherapy available\t\t\n// BOOBRI00N-01 Both aromatherapy available\n// BSCMOF00T-01 Only Aroma Cloud available\n// BSCMOF00T-01 Only Aromaflow available\n// Product_SKU = \"BOOBRI00N-01\"\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"AROMATHERAPY\"\n  ) {\n      options.push(item.json)\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Aromatherapy\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        -1344
      ],
      "id": "1df1fb81-8688-498e-ac9c-680004f40042",
      "name": "Aroma"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4496,
        -1344
      ],
      "id": "11dc72fa-8707-42a1-b796-0a935b31aa2f",
      "name": "If Aroma"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Aroma').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        4720,
        -1424
      ],
      "id": "c27c69ff-7b2a-4ef4-bb17-032d38690fcf",
      "name": "Aroma Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Aroma').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Aroma Form\").first().json[\"Aromatherapy\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        -1424
      ],
      "id": "50969ff8-738c-4003-b4d1-8dd89d2bcdc2",
      "name": "Aroma Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n// BOS2RF00F-01 No chromatherapy available\n// BOOBRI00N-01 Chromatherapy available\n// Product_SKU = \"BOOBRI00N-01\"\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"CHROMATHERAPY\"\n  ) {\n      options.push(item.json)\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Chromatherapy\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5392,
        -1344
      ],
      "id": "f7771cd0-02fe-494b-9a76-ec1d95716a8b",
      "name": "Chromo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5616,
        -1344
      ],
      "id": "299e7163-afeb-41b0-8037-6f954fcbde06",
      "name": "If Chromo"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Chromo').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        5840,
        -1424
      ],
      "id": "107919dd-6818-41a7-9bdc-7b2a92e744fb",
      "name": "Chromo Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Chromo').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Chromo Form\").first().json[\"Chromatherapy\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6064,
        -1424
      ],
      "id": "2586a966-9522-4081-88d8-99a807bc3ced",
      "name": "Chromo Selection"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TMU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ff69289-d325-4293-8cbe-91ca04300086"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TMU"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beab3113-a1e5-4a54-90e6-9e7832d7dc39",
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TUB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TUB"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2256,
        -1344
      ],
      "id": "5667fe8f-4f50-4b3f-80e1-dc938a435a25",
      "name": "Line Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TMU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ff69289-d325-4293-8cbe-91ca04300086"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TMU"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beab3113-a1e5-4a54-90e6-9e7832d7dc39",
                    "leftValue": "={{ $(\"Line Form\").first().json.Line }}",
                    "rightValue": "TUB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TUB"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        6512,
        -1424
      ],
      "id": "5dd269ba-1d5d-41cc-818e-29b99c86795a",
      "name": "Control Switch"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"MIA CONTROL\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"MIA Control\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6736,
        -1488
      ],
      "id": "52a7870a-9089-4d6c-9b35-b3b6e358d563",
      "name": "MIA Control"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('MIA Control').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        6960,
        -1488
      ],
      "id": "85db7962-4903-4e6a-8fe4-e8bdb15c00d7",
      "name": "MIA Control Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('MIA Control').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"MIA Control Form\").first().json[\"MIA Control\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7184,
        -1488
      ],
      "id": "ddb4c435-b6dd-4c90-b1fc-c632c4656433",
      "name": "MIA Control Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"VIRTUAL CONTROL APP\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"BU-Touch Control\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7632,
        -1488
      ],
      "id": "da071eb0-ee77-48f0-8719-6898937eaae4",
      "name": "BU-Touch Control"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('BU-Touch Control').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        7856,
        -1488
      ],
      "id": "36f65cba-435b-48d0-a148-79fd600b7dfb",
      "name": "BU-Touch Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('BU-Touch Control').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"BU-Touch Form\").first().json[\"BU-Touch Control\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8080,
        -1488
      ],
      "id": "94cfb55b-e869-4df2-a2ea-87c863096f20",
      "name": "BU-Touch Control Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"GRAB_BAR\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Grab Bars\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8976,
        -1280
      ],
      "id": "7a1f15c8-c016-48a6-bc7c-7f67a37272fc",
      "name": "Grab Bars"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9200,
        -1280
      ],
      "id": "4c16ff12-0d50-40b0-9c52-e92fed10fdb6",
      "name": "If Grab Bars"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Grab Bars').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Grab Bars Form\").first().json[\"Grab Bars\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9648,
        -1200
      ],
      "id": "cb168021-0063-4c5a-b86a-49cd9e5605b9",
      "name": "Grab Bars Selection"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Grab Bars').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        9424,
        -1200
      ],
      "id": "248e3bfa-b81d-4aa5-aefa-26e958503d68",
      "name": "Grab Bars Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"TILE FLANGE\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Tile Flange\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10096,
        -1344
      ],
      "id": "ba2ece1d-30e5-49bf-b801-2c3e9037abda",
      "name": "Tile Flange"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10320,
        -1344
      ],
      "id": "9ddf4d51-9e7a-4140-b5ec-4f4ff9975f0a",
      "name": "If Tile Flange"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Tile Flange').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        10544,
        -1424
      ],
      "id": "d9005e36-d7ab-4c06-aa4d-fb7ebd877462",
      "name": "Tile Flange Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Tile Flange').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Tile Flange Form\").first().json[\"Tile Flange\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10768,
        -1424
      ],
      "id": "9017aab1-d296-448b-ba4c-3b06c9bf7b6f",
      "name": "Tile Flange Selection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $('WTS').first().json.secondHeatingZone }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "00450b5d-bc5f-45ac-9cc1-c80aefcecfd2",
              "leftValue": "={{ console.log(222) && 11 }}",
              "rightValue": "dude",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3376,
        -1232
      ],
      "id": "f9adac51-228f-45bb-9fad-2c531c139213",
      "name": "If Second WTS",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"SKIRT\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Skirt\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11216,
        -1344
      ],
      "id": "bfe48101-7703-4486-86fa-8f7a3d05543a",
      "name": "Skirt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11440,
        -1344
      ],
      "id": "c182ced0-455d-4ad1-9797-3efed9042311",
      "name": "If Skirt"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Skirt').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        11664,
        -1424
      ],
      "id": "89ebdf08-2585-4ef3-bb1d-4a5ed93832d2",
      "name": "Skirt Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Skirt').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Skirt Form\").first().json[\"Skirt\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11888,
        -1424
      ],
      "id": "5b20782e-d3fb-45ad-9e5f-3c87bfae3dde",
      "name": "Skirt Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"FEET\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Feet\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12336,
        -1344
      ],
      "id": "ea840ecf-7d80-4808-9ab7-3f88a669f485",
      "name": "Feet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0ec18898-82e9-4772-9093-d4abd717b7ac",
              "leftValue": "={{ $('Combo Feet & Armrest').first().json.options.length > 0 && $('Combo Feet & Armrest Selection').first().json.options.length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12560,
        -1344
      ],
      "id": "f78a1df2-7c0b-4627-a307-04fd56bc8e8a",
      "name": "If Feet"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Feet').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        12784,
        -1424
      ],
      "id": "25b4e37e-1550-4247-ad82-389b1181a0f9",
      "name": "Feet Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Feet').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Feet Form\").first().json[\"Feet\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13008,
        -1424
      ],
      "id": "d200a9ea-0a77-4008-a189-978c55385a4e",
      "name": "Feet Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Deck').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Deck Form\").first().json[\"Deck\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14128,
        -1424
      ],
      "id": "38a97dcd-4aac-4672-9d9e-fbad13328142",
      "name": "Deck Selection"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Deck').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        13904,
        -1424
      ],
      "id": "e2d4b27d-eccd-4f9a-b316-d828d4635211",
      "name": "Deck Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13680,
        -1344
      ],
      "id": "47ec874c-0dd8-48f6-8995-f9113c573229",
      "name": "If Deck"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"DECK\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Deck\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13456,
        -1344
      ],
      "id": "b72c545e-079d-49c6-82a0-9daf13aeb10b",
      "name": "Deck"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"CUSHION\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Cushion\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14576,
        -1344
      ],
      "id": "22cbd806-1059-462e-a732-33f225f4e82e",
      "name": "Cushion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14800,
        -1344
      ],
      "id": "5e94a490-1369-4d9b-b063-4b392aa18456",
      "name": "If Cushion"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Cushion').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        15024,
        -1424
      ],
      "id": "21df320e-c746-44ae-87a1-0073858653a8",
      "name": "Cushion Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Cushion').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Cushion Form\").first().json[\"Cushion\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15248,
        -1424
      ],
      "id": "ccbde19f-8e16-4b7c-b993-a84ba99d955b",
      "name": "Cushion Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"ISLAND TUB DRAIN\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Island Tub Drain\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15696,
        -1344
      ],
      "id": "31a5f908-7da6-41cb-a184-b7d12d88533b",
      "name": "Island Tub Drain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15920,
        -1344
      ],
      "id": "87f4762e-98e2-4df8-ab6d-ab571b0cdfbe",
      "name": "If Island Tub Drain"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Island Tub Drain').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        16144,
        -1424
      ],
      "id": "e69428cd-75ba-4114-a483-0300f4c124fe",
      "name": "Island Tub Drain Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Island Tub Drain').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Island Tub Drain Form\").first().json[\"Cushion\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16368,
        -1424
      ],
      "id": "972e3b0d-a399-42b6-a4ae-f652f8ed544b",
      "name": "Island Tub Drain Selection"
    },
    {
      "parameters": {
        "jsCode": "const configuration = $input.first().json.configuration\n\nconst options = []\nconst instructions = []\n\nfor (let i = 0; i < configuration.options.length; i++) {\n  if (configuration.options[i]?.TYPE === 'INSTRUCTION') {\n    instructions.push(configuration.options[i])\n  } else {\n    options.push(configuration.options[i])\n  }\n}\n\nlet price = configuration.base.List_Price+configuration.base.Surface_Finish_Price\n\nfunction generateOptionsHTML(options) {\n  return options.map(option => {\n    price = price + option['Option Price']\n    return `  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>${option.PRODUCT_OPTION_NAME}</div>\n    <div>$${option['Option Price']}</div>\n  </div>`;\n  }).join('\\n');\n}\n\nconst html = `\n<div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 1em;\">\n    <div><strong>Configuration</strong></div>\n    <div>$${configuration.base.List_Price+configuration.base.Surface_Finish_Price}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between\">\n    <div>Model: ${configuration.base.Product_Name} (${configuration.base.Product_SKU})</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Color: ${configuration.base.Color}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Deck: ${configuration.base.Deck_Feature}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Handing: ${configuration.base.Handing}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Installation Type: ${configuration.base.Installation_Type}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Line: ${configuration.base.Line}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between;\">\n    <div>Surface Finish: ${configuration.base.Surface_Finish}</div>\n    <div>$${configuration.base.Surface_Finish_Price}</div>\n  </div>\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-top: 2em; margin-bottom: 1em;\">\n    <div><strong>Options</strong></div>\n  </div>\n${generateOptionsHTML(options)}\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-top: 2em; margin-bottom: 1em;\">\n    <div><strong>Instructions</strong></div>\n  </div>\n${generateOptionsHTML(instructions)}\n  <div style=\"display: flex; flex-direction: row; justify-content: space-between; margin-top: 2em; margin-bottom: 1em;\">\n    <div><strong>Product Price</strong></div>\n    <div><strong>$${price}</strong></div>\n  </div>\n</div>`\n\nreturn { html }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19728,
        -1424
      ],
      "id": "4a646057-9840-4fd7-9ba6-c95dd2bfd82d",
      "name": "Price"
    },
    {
      "parameters": {
        "options": {
          "formDescription": "={{ $input.first().json.html }}",
          "buttonLabel": "Submit Configuration"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        20016,
        -1424
      ],
      "id": "b305f3bf-52ff-48ba-8f7c-6a18370ceae3",
      "name": "Price Form",
      "webhookId": "6bfe5117-80eb-4982-a34b-ab08cdafcf9c"
    },
    {
      "parameters": {
        "jsCode": "// Models: Scala\nlet options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$(\"Options Sheet Collection\").all().forEach((item) => {\n  if (\n    item.json[\"PRODUCT SKU\"] === Product_SKU &&\n    item.json[\"FEATURE\"] == \"ARMRESTS\"\n  ) {\n      options.push(item.json)\n\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Combo Feet & Armrest\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8528,
        -1344
      ],
      "id": "8fd0cc0d-95f5-4bc4-8144-bb3e6590f667",
      "name": "Combo Feet & Armrest"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8887607f-67c5-415f-9ff2-6d6ed05c5372",
              "leftValue": "={{ $input.first().json.options }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8752,
        -1344
      ],
      "id": "72162a28-4f5d-4b1c-bb43-1f90edb2e63d",
      "name": "If Combo Feet & Armrest"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Combo Feet & Armrest').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        9424,
        -1488
      ],
      "id": "a4aa875f-bda8-4a79-babf-a5c1fa1f6a23",
      "name": "Combo Feet & Armrest Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Combo Feet & Armrest').first().json.options) {\n  if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Combo Feet & Armrest Form\").first().json[\"Combo Feet & Armrest\"]) {\n    options.push(item)\n  }\n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9648,
        -1488
      ],
      "id": "7addee6f-8ce3-4e62-88e3-1e02ebdb2d7b",
      "name": "Combo Feet & Armrest Selection"
    },
    {
      "parameters": {
        "jsCode": "let options = ['Brass', 'PVC', 'None']\n\nconst dropdown = {\n  \"fieldLabel\": \"Drain And Overflow\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16816,
        -1344
      ],
      "id": "6671a02e-483e-4bf8-8b05-cafb9af8b1f2",
      "name": "Drain And Overflow Material"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Drain And Overflow Material').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        17040,
        -1344
      ],
      "id": "64eec93c-b565-4953-804c-b28733696101",
      "name": "Drain And Overflow Material Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nlet Product_SKU = $('product').first().json.configuration.base.Product_SKU\n$input.all().forEach((item) => {\n  if (\n    item.json[\"Product_SKU\"] === Product_SKU\n  ) {\n      options.push(item.json)\n  }\n})\n\nconst dropdown = {\n  \"fieldLabel\": \"Drain And Overflow\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": false\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17712,
        -1488
      ],
      "id": "59a1b2c4-dbda-44a9-9bdc-b5c611c2bec3",
      "name": "Drain And Overflow"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Drain And Overflow').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        17936,
        -1488
      ],
      "id": "8b93ba3f-557a-4ca0-b7e8-fc6af017f797",
      "name": "Drain And Overflow Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nif ($('Drain And Overflow Material Form').first().json['Drain And Overflow']) {\n  options .push(    \n    {\n      \"OPTION SKU\": \"BOVER00-00\",\n      \"PRODUCT_OPTION_NAME\": \"NO DRAIN\",\n      \"Option Price\": 0,\n    })\n} else {\n  for (const item of $('Drain And Overflow').first().json.options) {\n    if (`${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Drain And Overflow Form\").first().json[\"Drain And Overflow\"]) {\n      options.push(item)\n    }\n  }  \n}\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  const configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\nreturn { options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18160,
        -1424
      ],
      "id": "5810282e-7547-46d5-bb82-67ca2fb56fe2",
      "name": "Drain And Overflow Selection"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Drain And Overflow Material Form').first().json['Drain And Overflow'] }}",
                    "rightValue": "Brass",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "05ba5067-cb14-4844-ada6-9745e2765e55"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Brass"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b403747f-8c9a-4dea-b1eb-348e543b5090",
                    "leftValue": "={{ $('Drain And Overflow Material Form').first().json['Drain And Overflow'] }}",
                    "rightValue": "PVC",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PVC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a2e0c5c-ce0f-4710-9886-6a3a3a096fe6",
                    "leftValue": "={{ $('Drain And Overflow Material Form').first().json['Drain And Overflow'] }}",
                    "rightValue": "None",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "None"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        17264,
        -1360
      ],
      "id": "31f872e0-d498-4d97-8096-0281c1cc0fd6",
      "name": "Drain And Overflow Material Form Switch"
    },
    {
      "parameters": {
        "jsCode": "let options = [\n  { \"PRODUCT_OPTION_NAME\": \"EARLY MOTOR SHIPMENT\", \"Option Price\": 0, \"TYPE\": \"INSTRUCTION\", \"OPTION SKU\": \"EAMOEAD9E1\", },\n  { \"PRODUCT_OPTION_NAME\": \"NONE\", \"Option Price\": 0, \"TYPE\": \"INSTRUCTION\", \"OPTION SKU\": \"EAMONOD9E1\", },\n]\n\nconst dropdown = {\n  \"fieldLabel\": \"Early Motor Shipment\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option: `${option.PRODUCT_OPTION_NAME}, +$${option[\"Option Price\"]}` }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ], options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18608,
        -1424
      ],
      "id": "df67f588-c59c-40f4-a881-08a572693cf2",
      "name": "Early Motor Shipment"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($('Early Motor Shipment').first().json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        18832,
        -1424
      ],
      "id": "a74d907a-0b53-49c9-a28f-374fb133a961",
      "name": "Early Motor Shipment Form",
      "webhookId": "af14ef22-9149-4bf0-b551-37c0244cd766"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\nfor (const item of $('Early Motor Shipment').first().json.options) {\n  if (\n    `${item.PRODUCT_OPTION_NAME}, +$${item[\"Option Price\"]}` === $(\"Early Motor Shipment Form\").first().json[\"Early Motor Shipment\"] &&\n    $(\"Early Motor Shipment Form\").first().json[\"Early Motor Shipment\"] === `EARLY MOTOR SHIPMENT, +$${item[\"Option Price\"]}`\n     ) {\n    options.push(item)\n  }\n}\n\nvar configuration\n\nconst axios = require('axios')\nasync function addOptions() {\n  const key = $('product').first().json.key\n  const response = await axios.get(`http://localhost:7379/get/${key}`)\n  configuration = JSON.parse(response.data.get)\n  configuration.options.push(...options)\n  \n  await axios.get(`http://localhost:7379/set/${key}/${encodeURIComponent(JSON.stringify(configuration))}`)\n}\nawait addOptions()\n\n// await axios.post('https://intercrinal-undegenerated-lavonne.ngrok-free.dev/api/v1/order-line-8e6e1d01', { configuration })\n// await axios.post('https://edge.bainultra.dev/api/v1/order-line-8e6e1d01', { configuration })\n\nreturn { configuration, options }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19264,
        -1424
      ],
      "id": "d035c916-5b1f-4041-8b94-bcc519c321ae",
      "name": "Early Motor Shipment Selection"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify($json.form) }}",
        "options": {
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1152,
        -1344
      ],
      "id": "60367332-8439-408a-a22e-85aa5418d695",
      "name": "Line Form",
      "webhookId": "6ecb2fe7-e6a4-46dc-8846-d39de88f8d6b"
    },
    {
      "parameters": {
        "jsCode": "let options = []\n\n$(\"Products Sheet Collection\").all().forEach((product) => {\n  if (\n    product.json.Collection === $(\"Collection Form\").first().json.Collection &&\n    product.json.Installation_Type === $(\"Installation Type Form\").first().json[\"Installation Type\"] &&\n    product.json.Model === $(\"Model Form\").first().json.Model &&\n    String(product.json.LW) === $(\"Dimension Form\").first().json.Dimension &&\n    product.json.Deck_Feature === $(\"Deck Feature Form\").first().json[\"Deck Feature\"] &&\n    product.json.Handing === $(\"Handing Form\").first().json.Handing &&\n    product.json.Color === $(\"Color Form\").first().json.Color &&\n    product.json.Surface_Finish === $(\"Surface Finish Form\").first().json[\"Surface Finish\"].split(',')[0]\n  ) {\n    options.push(product.json.Line)\n  }\n})\n\noptions = [...new Set(options)].sort()\n\nconst dropdown = {\n  \"fieldLabel\": \"Line\",\n  \"fieldType\": \"dropdown\",\n  \"fieldOptions\": {\n    \"values\": options.map((option) => {\n      return { option }\n    })\n  },\n  \"requiredField\": true\n}\n\nreturn { form: [ dropdown ] }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -1344
      ],
      "id": "d3a3c933-0b8a-4bd0-8f3b-541aff4c28b7",
      "name": "Line"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw",
          "mode": "list",
          "cachedResultName": "bainultra",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1015220340,
          "mode": "list",
          "cachedResultName": "DAO_PVC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit#gid=1015220340"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        17488,
        -1488
      ],
      "id": "617bcd6d-a916-48b3-b3e7-e2aba074f28d",
      "name": "Drain And Overflow Brass Sheet Collection",
      "credentials": {
        "googleApi": {
          "id": "We2EMnzF5mMB8Qs4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw",
          "mode": "list",
          "cachedResultName": "bainultra",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1015220340,
          "mode": "list",
          "cachedResultName": "DAO_PVC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_n5IQFNUfn-K78agT3X8CcMO1Dxn3oc0_RwB-Gf_vw/edit#gid=1015220340"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        17488,
        -1200
      ],
      "id": "c3ff6472-5990-480d-83b2-2ed00c70f3fb",
      "name": "Drain And Overflow PVC Sheet Collection",
      "credentials": {
        "googleApi": {
          "id": "We2EMnzF5mMB8Qs4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Customer Order Line Created",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        20464,
        -1424
      ],
      "id": "f98d35ba-5d3e-4114-ba5f-483b7a3d374d",
      "name": "Form",
      "webhookId": "aa4a9f46-cf16-42ca-9223-db07b827d996"
    },
    {
      "parameters": {
        "formTitle": "BainUltra Configurator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Customer Order"
            }
          ]
        },
        "options": {
          "buttonLabel": "New Configuration"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -3360,
        -1344
      ],
      "id": "8e356af5-7854-4d5e-8373-5b25b11dff67",
      "name": "Customer Order Form",
      "webhookId": "ee120c52-b853-41f4-9204-0e0f309a96cd"
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios')\n\nconst response = await axios.get('http://localhost:7379/get/products')\nconst products = JSON.parse(response.data.get)\n\nreturn products"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2864,
        -1344
      ],
      "id": "1c5d5048-bca8-4128-acc3-8df34e496a1a",
      "name": "Products Sheet Collection"
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios')\n\nconst key = $('product').first().json.key\nconst response = await axios.get(`http://localhost:7379/get/${key}`)\nconst configuration = JSON.parse(response.data.get)\n\n// await axios.post('https://intercrinal-undegenerated-lavonne.ngrok-free.dev/api/v1/order-line-8e6e1d01', { configuration })\nawait axios.post('https://edge.bainultra.dev/api/v1/order-line-8e6e1d01', { configuration })\n\nreturn {}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3104,
        -1200
      ],
      "id": "2394014a-44dd-402e-9f40-05760cf222d2",
      "name": "Debug"
    },
    {
      "parameters": {
        "jsCode": "const { fetch } = require('undici')\n\nvar response = await fetch('http://localhost:7379/get/options')\nresponse = await response.json()\nvar options = JSON.parse(response.get)\n\noptions = options.filter((option) => {\n  return option[\"PRODUCT SKU\"] === $('product').first().json.configuration.base.Product_SKU\n})\n\nreturn options"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -1344
      ],
      "id": "9609d572-dfec-41e2-b8b8-73cdc178d158",
      "name": "Options Sheet Collection"
    }
  ],
  "connections": {
    "Collection Form": {
      "main": [
        [
          {
            "node": "Installation Type List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Installation Type Form": {
      "main": [
        [
          {
            "node": "Model List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collection List": {
      "main": [
        [
          {
            "node": "Collection Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Installation Type List": {
      "main": [
        [
          {
            "node": "Installation Type Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model List": {
      "main": [
        [
          {
            "node": "Model Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Form": {
      "main": [
        [
          {
            "node": "Size List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size List": {
      "main": [
        [
          {
            "node": "Dimension Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dimension Form": {
      "main": [
        [
          {
            "node": "Deck Feature List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Feature List": {
      "main": [
        [
          {
            "node": "Deck Feature Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Feature Form": {
      "main": [
        [
          {
            "node": "Handing List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handing List": {
      "main": [
        [
          {
            "node": "Handing Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handing Form": {
      "main": [
        [
          {
            "node": "Color List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Color List": {
      "main": [
        [
          {
            "node": "Color Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Color Form": {
      "main": [
        [
          {
            "node": "Finish List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finish List": {
      "main": [
        [
          {
            "node": "Surface Finish Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Surface Finish Form": {
      "main": [
        [
          {
            "node": "Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product": {
      "main": [
        [
          {
            "node": "Options Sheet Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TMU Second HBR Form": {
      "main": [
        [
          {
            "node": "Second HBR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second HBR": {
      "main": [
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HBR": {
      "main": [
        [
          {
            "node": "If Second HBR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WTS": {
      "main": [
        [
          {
            "node": "Tub First WTS Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tub First WTS Form": {
      "main": [
        [
          {
            "node": "First WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First WTS": {
      "main": [
        [
          {
            "node": "If Second WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Second HBR": {
      "main": [
        [
          {
            "node": "TMU Second HBR Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tub Second WTS Form": {
      "main": [
        [
          {
            "node": "Second WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second WTS": {
      "main": [
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aroma": {
      "main": [
        [
          {
            "node": "If Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Aroma": {
      "main": [
        [
          {
            "node": "Aroma Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chromo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aroma Form": {
      "main": [
        [
          {
            "node": "Aroma Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aroma Selection": {
      "main": [
        [
          {
            "node": "Chromo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chromo": {
      "main": [
        [
          {
            "node": "If Chromo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Chromo": {
      "main": [
        [
          {
            "node": "Chromo Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chromo Form": {
      "main": [
        [
          {
            "node": "Chromo Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chromo Selection": {
      "main": [
        [
          {
            "node": "Control Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Switch": {
      "main": [
        [
          {
            "node": "HBR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Switch": {
      "main": [
        [
          {
            "node": "MIA Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIA Control": {
      "main": [
        [
          {
            "node": "MIA Control Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIA Control Form": {
      "main": [
        [
          {
            "node": "MIA Control Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIA Control Selection": {
      "main": [
        [
          {
            "node": "BU-Touch Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BU-Touch Control": {
      "main": [
        [
          {
            "node": "BU-Touch Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BU-Touch Form": {
      "main": [
        [
          {
            "node": "BU-Touch Control Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BU-Touch Control Selection": {
      "main": [
        [
          {
            "node": "Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Bars": {
      "main": [
        [
          {
            "node": "If Grab Bars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Grab Bars": {
      "main": [
        [
          {
            "node": "Grab Bars Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Bars Selection": {
      "main": [
        [
          {
            "node": "Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Bars Form": {
      "main": [
        [
          {
            "node": "Grab Bars Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tile Flange": {
      "main": [
        [
          {
            "node": "If Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tile Flange": {
      "main": [
        [
          {
            "node": "Tile Flange Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skirt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tile Flange Form": {
      "main": [
        [
          {
            "node": "Tile Flange Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tile Flange Selection": {
      "main": [
        [
          {
            "node": "Skirt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Second WTS": {
      "main": [
        [
          {
            "node": "Tub Second WTS Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aroma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skirt": {
      "main": [
        [
          {
            "node": "If Skirt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Skirt": {
      "main": [
        [
          {
            "node": "Skirt Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skirt Form": {
      "main": [
        [
          {
            "node": "Skirt Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skirt Selection": {
      "main": [
        [
          {
            "node": "Feet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feet": {
      "main": [
        [
          {
            "node": "If Feet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Feet": {
      "main": [
        [
          {
            "node": "Feet Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feet Form": {
      "main": [
        [
          {
            "node": "Feet Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feet Selection": {
      "main": [
        [
          {
            "node": "Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Selection": {
      "main": [
        [
          {
            "node": "Cushion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck Form": {
      "main": [
        [
          {
            "node": "Deck Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Deck": {
      "main": [
        [
          {
            "node": "Deck Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cushion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deck": {
      "main": [
        [
          {
            "node": "If Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cushion": {
      "main": [
        [
          {
            "node": "If Cushion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cushion": {
      "main": [
        [
          {
            "node": "Cushion Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Island Tub Drain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cushion Form": {
      "main": [
        [
          {
            "node": "Cushion Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cushion Selection": {
      "main": [
        [
          {
            "node": "Island Tub Drain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Island Tub Drain": {
      "main": [
        [
          {
            "node": "If Island Tub Drain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Island Tub Drain": {
      "main": [
        [
          {
            "node": "Island Tub Drain Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drain And Overflow Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Island Tub Drain Form": {
      "main": [
        [
          {
            "node": "Island Tub Drain Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Island Tub Drain Selection": {
      "main": [
        [
          {
            "node": "Drain And Overflow Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price": {
      "main": [
        [
          {
            "node": "Price Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Form": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combo Feet & Armrest": {
      "main": [
        [
          {
            "node": "If Combo Feet & Armrest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Combo Feet & Armrest": {
      "main": [
        [
          {
            "node": "Combo Feet & Armrest Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab Bars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combo Feet & Armrest Form": {
      "main": [
        [
          {
            "node": "Combo Feet & Armrest Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combo Feet & Armrest Selection": {
      "main": [
        [
          {
            "node": "Tile Flange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Material": {
      "main": [
        [
          {
            "node": "Drain And Overflow Material Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Material Form": {
      "main": [
        [
          {
            "node": "Drain And Overflow Material Form Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow": {
      "main": [
        [
          {
            "node": "Drain And Overflow Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Form": {
      "main": [
        [
          {
            "node": "Drain And Overflow Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Selection": {
      "main": [
        [
          {
            "node": "Early Motor Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Material Form Switch": {
      "main": [
        [
          {
            "node": "Drain And Overflow Brass Sheet Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drain And Overflow PVC Sheet Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drain And Overflow Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Motor Shipment": {
      "main": [
        [
          {
            "node": "Early Motor Shipment Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Motor Shipment Form": {
      "main": [
        [
          {
            "node": "Early Motor Shipment Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Motor Shipment Selection": {
      "main": [
        [
          {
            "node": "Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Form": {
      "main": [
        [
          {
            "node": "product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line": {
      "main": [
        [
          {
            "node": "Line Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow Brass Sheet Collection": {
      "main": [
        [
          {
            "node": "Drain And Overflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drain And Overflow PVC Sheet Collection": {
      "main": [
        [
          {
            "node": "Drain And Overflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Order Form": {
      "main": [
        [
          {
            "node": "Products Sheet Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Products Sheet Collection": {
      "main": [
        [
          {
            "node": "Collection List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug": {
      "main": [
        [
          {
            "node": "Products Sheet Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Options Sheet Collection": {
      "main": [
        [
          {
            "node": "Line Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf61a41482dd6099afc7b58566870ccc4a2f9ce8ddec60f7c393404a4df173a7"
  }
}
